body {
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #1B659B;
    color: white;
    padding: 10px;
    height: max-content;
}

.menu-item {
    margin-bottom: 10px;
    position: relative;
}


.btn {
    background-color: #1B659B !important;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    color: white;
}

.menu-link {
    background-color: #1B659B;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.menu-item .dropdown-menu {
    display: none;
    position: static;
    float: none;
    background-color: #1B659B;
    padding-left: 10px;
    border: none;
    box-shadow: none;
    transition: max-height 0.3s ease-in-out;
}

.menu-item:hover .dropdown-menu {
    display: block;
    max-height: 200px;
}

.dropdown-menu a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-menu a:hover {
        background-color: #408b98;
    }

.mobile .sidebar {
    z-index: 10112;
}


@media screen and (min-width: 600px) {
    .desktop-navbar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .navbar-container {
        z-index: 500;
    }
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}

.offcanvas-btn {
    position: relative; /* or absolute, depending on your design */
    margin: 20px 0; /* Adjust margin as needed */
    text-align: center; /* Center the content horizontally */
    z-index: 1000; /* Ensure it's above other elements */
    padding: 10px;
}

    .offcanvas-btn .btn {
        padding: 10px 20px; /* Adjust padding as needed */
        font-size: 16px; /* Adjust font size as needed */
    }

#main {
    transition: margin-left .5s; /*sliding effect*/
}
