body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}

html {
    font-size: 16px;
}

/* Custom styles in your custom CSS files */
/* Increase specificity by including more specific selectors */
 a {
    color: #000 !important; /* Override Bootstrap link color */
    text-decoration: none !important;
}

 select {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
}

header {

    background-color: #0E0E0E;
    color: white;
    padding: 0.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    align-items: center;
}

#nav-links .nav-icon {
    display: none;


}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    margin: 0;
}


svg {
    margin: 0;
    padding: 0;
    left: 0;
    width: 20rem;
}
#logo-box h2
{
    margin-top:0.5rem;
    margin-left: 0.1rem;
}
#nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-top: 2rem;
    margin: 0.8rem;
    margin-right: 1rem;
}

#nav-links  {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    margin-top: 1.2rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

.nav-link:hover {
    color: red
}

.purple-div {
    background-color: purple;
    height: 500px;
    width: 100%;
    margin-top: 80px;
}
.btn-secondary {
    font-size: 1.4rem; 
    margin-top: 10px;
    border-radius: 15px;
    
}
.purple-div .btn {
  background-color: #5FAEB6;
  outline: #3F6184;
}
.purple-div .btn:hover {
    background-color: green;

  }

.purple-div h1 {
    margin-top: 3.5rem;
    margin-bottom: 0;

}

.purple-div  .barcode-input {
    background-color: white; 
    color: black; 
    border-radius: 5rem;
    margin: 0 auto;
    font-size: 1.2rem;
    border: 0;
}

.barcode-item {
    display: block;
    margin-top: 5px; }


.c-item {
    height: 600px;
  }
  


  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }


  .services-section {  
    background-color:#778899;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 100px ;
}

.services-section h2 {
    margin-top: 2rem;
    width: 100%; 
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #e0e0e0;
}


.card {
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    width: 20rem;
    margin: 0.5rem;
}

.card:hover {
    transform: translateY(-10px);
    background-color: lightgray;
}


.card h3, .card p {
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: black;
}

.card .btn {
    color: #fff;
    background-color:#5FAEB6;
    font-size: 1rem;
    text-align: center;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all .5s;
    display: block; 
    margin: 1rem auto; 
    width: 10rem;
    transition: background-color 0.3s; 

  }

  .card .btn:hover {
    background-color: green !important;
}

.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;

}
.auth-container {
    height:30rem;
    background-color: #F6F7F9 ;
    padding: 1.6rem; 
    border-radius: 0.8rem; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   
}


.auth-switch {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.auth-switch button {
    flex: 1;
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form-container {
    display: flex;
    width: 50rem; 
    overflow: hidden;
    transition: margin-left 0.3s; 
    
}

.auth-form {
    text-align: center;
    width: 15rem;
  
}

.auth-form-info {
    width: 15rem;
}

.auth-form h2 {
    margin-bottom: 1rem;
}

.auth-submit-btn {
    background-color: #5FAEB6;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form label {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.auth-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-size: 1rem;
}
.auth-switch button:hover {
    background-color: #f0f0f0;
}
#loginForm , #signupForm {
    margin: 0 auto;
}
#signupForm label {
    display: block;
}

#signupForm .password-inputs {
    display: flex;
    justify-content: space-between;
       width: 45rem ; margin-top: 2rem;
}

#signupForm .password-inputs input {
    display: flex;
    justify-content: space-between;    width: 40rem;
   
}

#signupForm input {
   height:1.5rem;
}

#signupForm p {
    font-size: 1.2rem;
}

#loginForm {
    margin-top: 4.5rem;
}



#signupForm .password-inputs label,
#signupForm .password-inputs input {
    width: 100%;
    margin-bottom: 1rem; /* Adjust margin as needed */
}




.switch-slider {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #5FAEB6;
    border-radius: 0.3rem; 
    transition: left 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

#acc-box {
    height: 50rem;
    background-color: #f9f9fA;
    padding: 4rem;
    color: #0E0E0E;
}

#acc-box h1 {
    font-size: 2rem;
    margin-left: 1rem;
}

ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    margin: 0;
    list-style: none;
    background-color: #f9f9fA;
    font-size: 1.5rem;
}

ul.accordion-list li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #FFF;
    padding: 2rem;
    margin: 0 auto 1.5rem auto;
    border: 0.1rem solid #eee;
    border-radius: .5rem;
    cursor: pointer;
}



ul.accordion-list li h3 {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    cursor: pointer;
}


ul.accordion-list li div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul.accordion-list li div.answer p {
    position: relative;
    display: block;
    font-weight: 300;
    padding: 1rem 0 0 0;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
}


.vision-box {

    width: 100%; 
    background-color:#a7c2ce;
    font-size: 3rem;
    padding: 3rem;
    height: 22rem;
    text-align: center;
  }
.vision-box p {
  font-size: 1.8rem;
}

.vision-box h2{
    font-size: 2.1rem;
}



/* Footer */

footer {
  padding-top: 3rem;
  padding-bottom:3rem;
  background-color: #2C3E4F;
  color: white;
  text-align: center;
}


footer p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

footer li {
  display: inline-block;
  margin-right: 1rem ;
}

footer .fa-brands {
  margin-top: 1rem;
  font-size: 2.5rem;
}
.about-icons {
    margin: 0 auto;
}
.copyright {
  background-color: #212529;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: white;
  text-align: center;
}

.more-info {
    
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    html {
        font-size: 15px;
    }
    header {
        height: auto;
        justify-content: space-between;
    }

    #logo-box{
        float: none;
        text-align: left;
        top:0
    }  
    #nav-links {
   
        flex-direction: column;
        align-items: center;
        top: 8rem;
        left: 0;
        font-size: 1.2rem;
       
    }

    #nav-links.active {
        display: flex;
    }
    #nav-links .nav-item {
        float: none;
        text-align: left;
    }
    #nav-links .nav-icon {
        display: block;
        font-size: 1rem;
        
    }

    #nav-links.responsive li:not(:first-child){
        display: none;

    }

    #nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 1rem;
        text-align: center;
    }

    .purple-div {
        margin-top: 0;
    }

    .vision-box {
        padding: 1rem;
    }
}


@media (min-width: 992px) and (max-width: 1200.00px) {
    .logo {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1.8rem;
        padding: 1.8rem;
    }

    .vision-box {
        padding: 2.5rem;
    }
    
    #acc-box {
        height: 40rem; 
    }
}

@media (min-width: 1200.01px) {
    .logo {
        margin-top: 1rem;
        font-size: 2.2rem;
    }

    .nav-link {
        font-size: 2rem;
        padding: 2rem;
    }

    .vision-box {
        padding: 3rem;
    }
    #acc-box {
        height: 40rem; 
    }
}

@media (max-width: 575.98px) {
    #signupForm .password-inputs {
        flex-direction: column;
    }
}

.auth-container {
  height: 40rem;
}

#signupForm .password-inputs label,
#signupForm .password-inputs input {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}


