@model RezerVanaUmv.Models.BalancePoint
@{
    ViewData["Title"] = "Düzenle Bonus Puan";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
}

<h2>Düzenle Bonus Puan</h2>
<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Points" class="form-label">@RezerVanaUmv.Resources.Resource.Puan</label>
        <input asp-for="Points" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">@RezerVanaUmv.Resources.Resource.Açıklama</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">@RezerVanaUmv.Resources.Resource.KAYDET</button>
    <a asp-action="Index" class="btn btn-secondary">@RezerVanaUmv.Resources.Resource.Geri</a>
</form>
